extends layout
include mixins/_articleCard
include mixins/_reviewArticleCard

block content
    .reviewers.card-body
        h5 Account
        form.form(action=`/account/${user.id}` method="POST")
            label(for="firstname") First Name 
            input(type="text" name="firstname" value=user.firstname)
            br
            label(for="lastname") Last Name 
            input(type="text" name="lastname" value=user.lastname)
            br
            label(for="email") Email 
            input(type="email" name="email" value=user.email)
            br
            label(for="status") Reviewer Status
            select(name='status')
                if user.status == 0
                    option(value = 0 selected)="Site Viewer"
                    option(value = 1)="Interested in Reviewing"
                else if user.status == 1 
                    option(value = 0)="Site Viewer"
                    option(value = 1 selected)="Interested in Reviewing"
                else if user.status == 2 
                    option(value = 0)="Site Viewer"
                    option(value = 2 selected)="Reviewer"
                else if user.status == 3
                    option(value = 0)="Site Viewer"
                    option(value = 2)="Reviewer"
                    option(value = 3 selected)="Reviewer and Moderator"
                else if user.status == 4
                    option(value = 0)="Site Viewer"
                    option(value = 2)="Reviewer"
                    option(value = 3)="Reviewer and Moderator"
                    option(value = 4 selected)="Administrator"
            br
            button.btn.btn-primary(type="submit" value="Log In →" id="submitbutton") Submit
        br
        h5 Delete Account
        form.form(action=`/account/delete/${user.id}` method="POST")
            p When you delete your account your unpublished/still in review articles will automatically be deleted. Unless otherwise specified below, your published articles will remain on the site.
            select(name='deleteArticles')
                option(value = false selected)="I would like my published articles to remain published"
                option(value = true)="I would like my published articles deleted from the site"
            br
            br
            input(type="checkbox", name="confirmation")
            label(for="confirmation")="- I confirm I would like my account deleted"
            br
            button.btn.btn-primary(type="submit" value="Log In →" id="submitbutton") Delete Account
        br
        h5 My Articles
        .links
            a.link(href=`/unpublished/${user._id}`) Unpublished
            a.link(href=`/published/${user._id}`) Published
        each article in articles
            if article.edit == "true" 
                +reviewArticleCard(article)
            else
                +articleCard(article)
