extends layout

block content
    .documentandtitle
        br
        h5=article.title
        p=article.firstname + " " + article.lastname
        //image=article.file
        embed(src=`/uploads/${article.file || '/uploads.NOFILEFOUND.pdf'}` width="100%" height="800px")
    .abstractandotherinformation
        br
        h5 Article Information
        p="Title: " + article.title
        p="Author: " + article.firstname + " " + article.lastname
        p="Publication Date: " + article.date
        - var tags = article.tagsArray
        each tag in tags
            button.tagSection=tag
        br
        br
        h5 Abstract
        p=article.abstract
        br
        h5 Description
        p=article.description
        h5 Citations
        form.form(action=`/article/${article.id}/citation` method="POST")
            if !citationStyle
                select(name='style')
                  option(value="APA") APA
                  option(value="MLA") MLA
                  option(value="Chicago") Chicago
                input.tagSection(type="submit" value="Generate Citation" id="submitbutton")
            else
                -var styles = ['APA', 'MLA', 'Chicago'];
                br
                select(name='style')
                    option(value = citationStyle selected)= citationStyle
                    each style in styles
                        if style!=citationStyle
                            option(value=style)=style
                input.tagSection(type="submit" value="Generate Citation" id="submitbutton")
                br
                p=citation
        
        
        
        
        