extends layout

block content
    .documentandtitle
        br
        .articleInfo
            h5=article.title
            p=article.firstname + " " + article.lastname
        .saveButton
            button.bookmark
                img(src=`/images/bookmarkfilled.png`, alt="Save", height="50px", id="saveButton")
                br
        embed(src=`/uploads/${article.file || '/uploads.NOFILEFOUND.pdf'}` width="100%" height="800px")        
    .abstractandotherinformation
        br
        h5 Article Information
        
        p="Title: " + article.title
        p="Author: " + article.firstname + " " + article.lastname
        p="Publication Date: " + article.date
        
    .abstractandotherinformation
        - var tags = article.tagsArray
        each tag in tags
            button.tagSection=tag
        br
        br
        h5 Abstract
        p=article.abstract
        br
        h5 Description
        p=article.description
        h5 Citations
        form.form(action=`/article/${article.id}/citation` method="POST")
            if !citationStyle
                select(name='style')
                  option(value="APA") APA
                  option(value="MLA") MLA
                  option(value="Chicago (Footnote)") Chicago (Footnote)
                  option(value="Chicago (Bibliography)") Chicago (Bibliography)
                input.tagSection(type="submit" value="Generate Citation" id="submitbutton")
            else
                -var styles = ['APA', 'MLA', 'Chicago (Bibliography)', 'Chicago (Footnote)'];
                br
                select(name='style')
                    option(value = citationStyle selected)= citationStyle
                    each style in styles
                        if style!=citationStyle
                            option(value=style)=style
                input.tagSection(type="submit" value="Generate Citation" id="submitbutton")
                br
                p=citation
        