mixin articleCard(article = {})
    div.card-body
      h5.card-title=article.title
      if article.reviewStat=="Reviewed"
          p=article.firstname + " " + article.lastname
          - var tags = article.tagsArray
          each tag in tags
            button.tagSection(href=`/search/${tag}`)=tag
          p.card-text=article.description
          a.btn.btn-primary(href=`/article/${article._id}`) Read More
      else
        p Unpublished