mixin reviewerCard(reviewer = {})
    div.card-body.reviewerCard
      .reviewerInfo
          h5.card-title=reviewer.firstname +" "+ reviewer.lastname
          if user.status >= 3
            p.card-text="Level: " + reviewer.status
          p.card-text=reviewer.email
      if user.status == 4
        if reviewer.status <= 4 && reviewer.status != 0
          .CRUD
            a(href=`reviewers/edit/${reviewer.id}`) edit
            br  
            a(href=`reviewers/delete/${reviewer.id}`) remove
        else if reviewer.status == 0
          .CRUD 
            a(href=`reviewers/delete/${reviewer.id}`) remove
      else if user.status == 3
        if reviewer.status < 3 
          .CRUD
            a(href=`reviewers/edit/${reviewer.id}`) edit
            //br  
            //a(href=`reviewers/delete/${reviewer.id}`) remove